
body {
    font-family: Arial, sans-serif;
 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100hv;
    background-image: url('background.png'); /* Путь к вашему фоновому изображению */
    background-size: 100%;
    background-position: center;
    color: #333;
}

.container {
    max-width: 0px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Полупрозрачный черный фон */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
  color: #fff; /* Белый цвет текста */
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ccc;
}

.intro {
    padding: 20px 0;
    flex-grow: 1;
    text-align: center;
}

.intro h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
}

